<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--Fonts bangla-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Atma&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Atma&family=Hind+Siliguri:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
    <title>Free tutors landing page</title>
    <link rel="stylesheet" href="css/homeStyle.css" />
  </head>
  <body>
    <div class="page-wrape">
      <div class="position-relative">
        <div class="hero-shape"></div>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container py-2">
            <a class="navbar-brand font-weight-bold" style="font-family: Atma" href="#">স্ফূরণ</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Courses
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">E-Learning</a>
                </li>
                <li class="nav-item">
                  <div class="ml-lg-2">
                    <a class="btn btn-success my-tutors" href="#">My Tutors</a>
                  </div>
                </li>
              </ul>
              <form class='ml-lg-3' action="/logout" method="POST">
                <button class="btn btn-outline-danger" type="submit">Logout</button>
              </form>
            </div>
          </div>
        </nav>
        <div class="banner-bg pb-5 pt-md-5 position-relative">
          <div class="container pb-5 pt-md-5">
            <div class="row py-5 justify-content-between align-items-center">
              <div class="col-lg-6 col-md-7 py-5">
                <h1 class="font-weight-bold display-4 mb-4">Online Live Class</h1>
                <p class="lead mb-5">Guide yourself with the front-runners of the admission war</p>
                <a href="" class="btn btn-success" id="bookButton">Book Now &rarr; </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative" style="z-index: 1">
        <div class="container py-5">
          <div class="row pt-5 justify-content-between text-center">
            <div class="col-12">
              <h6 class="text-warning mb-3" id="searchTutors">01. Tutors</h6>
              <h2 class="font-weight-bold mb-5 pb-3">Search tutors by subject</h2>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-calculator"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Math</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-library"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Bangla</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-code"></i>
                <h6 class="font-weight-bold mb-0 pt-3">ICT</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-brush-alt"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Arts</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-music"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Music</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-react"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Chemistry</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-users"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Engilsh</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-rocket"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Physics</h6>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 subjects">
              <div class="p-4 bg-tutor rounded">
                <i class="lni lni-flower"></i>
                <h6 class="font-weight-bold mb-0 pt-3">Biology</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div class="container pt-5 position-relative" style="z-index: 1">
          <div class="row pt-5">
            <div class="col-lg-6 mb-5">
              <h6 class="text-warning mb-3">02. Why us?</h6>
              <h2 class="font-weight-bold mb-5">Our goal</h2>
              <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae et
                neque. Pellentesque non justo velit. Donec quis tempus mi.
              </p>
              <a href="" class="btn btn-success" id="moreDetails1">More Details &rarr; </a>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="row">
                <div class="col-md-6 mb-5">
                  <div class="mb-5 nb">
                    <i class="lni lni-invention rounded-circle bg-warning d-inline p-3"></i>
                  </div>
                  <h5 class="font-weight-bold mb-5">Private Care</h5>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae
                    et neque.
                  </p>
                </div>
                <div class="col-md-6 mb-5">
                  <div class="mb-5 nb">
                    <i class="lni lni-consulting rounded-circle bg-warning d-inline p-3"></i>
                  </div>
                  <h5 class="font-weight-bold mb-5">World-wide service</h5>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae
                    et neque.
                  </p>
                </div>
                <div class="col-md-6 mb-5">
                  <div class="mb-5 nb">
                    <i class="lni lni-users rounded-circle bg-warning d-inline p-3"></i>
                  </div>
                  <h5 class="font-weight-bold mb-5">Best of the best</h5>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae
                    et neque.
                  </p>
                </div>
                <div class="col-md-6 mb-5">
                  <div class="mb-5 nb">
                    <i class="lni lni-graph rounded-circle bg-warning d-inline p-3"></i>
                  </div>
                  <h5 class="font-weight-bold mb-5">E-learning</h5>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae
                    et neque.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-shape home"></div>
      </div>
      <div class="container py-5">
        <div class="row justify-content-between py-5">
          <div class="col-12 text-center">
            <h6 class="text-warning mb-3" id='ourProcess'>03. Our Process</h6>
            <h2 class="font-weight-bold mb-5 pb-3">Book~Confirm~Learn</h2>
          </div>
          <div class="col-12 d-lg-flex">
            <div class="text-center">
              <img src="img/img-three.png" class="img-fluid mb-2" />
              <h5 class="font-weight-bold mb-4">Book your tutor based on your subject</h5>
              <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue
              </p>
            </div>
            <div class="text-center d-none d-lg-block">
              <img src="img/arrow.png" />
            </div>
            <div class="text-center">
              <img src="img/img-two.png" class="img-fluid mb-2" />
              <h5 class="font-weight-bold mb-4">Get a confirmation from your tutor</h5>
              <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue.
              </p>
            </div>
            <div class="text-center d-none d-lg-block">
              <img src="img/arrow.png" />
            </div>
            <div class="text-center">
              <img src="img/img-one.png" class="img-fluid mb-2" />
              <h5 class="font-weight-bold mb-4">Learn and grow together!</h5>
              <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue.
              </p>
            </div>
          </div>
          <div class="col-12 text-center">
            <a href="" class="btn btn-success" id="reviews">Reviews &rarr; </a>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div class="container pb-5">
          <div class="row">
            <div class="col-12 text-center">
              <h6 class="text-warning mb-3"id="happyStudents">04. Our happy Students</h6>
              <h2 class="font-weight-bold mb-5 pb-3">Our customers</h2>
            </div>
          </div>
          <div class="row testimonials owl-theme owl-carousel">
            <div class="p-5">
              <div class="d-flex align-items-end mb-5">
                <div class="img-radius">
                  <img src="./img/face3.png" />
                </div>
                <div class="ml-3">
                  <img src="https://annedece.sirv.com/Images/5e5fd7c602ca7c29a9feb660_quote-icon.svg" />
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae et
                neque. Pellentesque non justo velit. Donec quis tempus mi.
              </p>
              <h5 class="font-weight-bold">Anwarul Bashir Shuaib</h5>
              <p>Student</p>
            </div>
            <div class="p-5">
              <div class="d-flex align-items-end mb-5">
                <div class="img-radius">
                  <img src="./img/face2.jpg" />
                </div>
                <div class="ml-3">
                  <img src="https://annedece.sirv.com/Images/5e5fd7c602ca7c29a9feb660_quote-icon.svg" />
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae et
                neque. Pellentesque non justo velit. Donec quis tempus mi.
              </p>
              <h5 class="font-weight-bold">Kazi Rakibul Hasan</h5>
              <p>Student</p>
            </div>
            <div class="p-5">
              <div class="d-flex align-items-end mb-5">
                <div class="img-radius">
                  <img src="./img/face4.jpg" />
                </div>
                <div class="ml-3">
                  <img src="https://annedece.sirv.com/Images/5e5fd7c602ca7c29a9feb660_quote-icon.svg" />
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae et
                neque. Pellentesque non justo velit. Donec quis tempus mi.
              </p>
              <h5 class="font-weight-bold">Jennifer</h5>
              <p>Student</p>
            </div>
            <div class="p-5">
              <div class="d-flex align-items-end mb-5">
                <div class="img-radius">
                  <img src="./img/face1.jpg" />
                </div>
                <div class="ml-3">
                  <img src="https://annedece.sirv.com/Images/5e5fd7c602ca7c29a9feb660_quote-icon.svg" />
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus ac quam vulputate congue vitae et
                neque. Pellentesque non justo velit. Donec quis tempus mi.
              </p>
              <h5 class="font-weight-bold">Richard</h5>
              <p>Student</p>
            </div>
          </div>
          <div class="shape-four"></div>
        </div>
      </div>
      <div class="bg-light">
        <div class="container py-5">
          <div class="row pt-5">
            <div class="col-md-6 col-lg-3 mb-5">
              <h3 class="font-weight-bold mb-4">স্ফূরণ</h3>
              <p class="semi-bold">The best way to learn from a Tutor.</p>
              <div class="social-icons mt-4">
                <a href="#"><i class="lni lni-facebook-filled"></i></a>
                <a href="#"><i class="lni lni-twitter-filled"></i></a>
                <a href="#"><i class="lni lni-instagram-filled"></i></a>
                <a href="#"><i class="lni lni-github-original"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
              <h6 class="mb-4 font-weight-bold">Products</h6>
              <ul class="list-unstyled bb m-0">
                <li><a href="">For Individuals</a></li>
                <li><a href="">For Schools</a></li>
                <li><a href="">For Universities</a></li>
                <li><a href="">For Businesses</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
              <h6 class="mb-4 font-weight-bold">Company</h6>
              <ul class="list-unstyled bb m-0">
                <li><a href="">About Us</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Investors</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-5">
              <h6 class="mb-4 font-weight-bold">Privacy & Terms</h6>
              <ul class="list-unstyled bb m-0">
                <li><a href="">Community</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Copyright</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-3 bg-white">
        <div class="container">
          <p class="m-0 text-center small medium-500">Copyright &copy; Sphuron 2022</p>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="scripts/homeScript.js"></script>

    <script>
      $('.testimonials').owlCarousel({
        loop: false,
        margin: 20,
        nav: false,
        dots: true,
        responsive: {
          0: {
            items: 1,
          },
          800: {
            items: 2,
          },
        },
      });
    </script>
  </body>
</html>
