<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atma&family=Hind+Siliguri:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/register.css" />
    <script src="scripts/registerScript.js"></script>
  </head>
  <body>
    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
          <h3>Welcome to</h3>
          <p id="sphuron">স্ফূরণ</p>
          <input onclick='location.href="http://localhost:3000/login";' type="submit" name="" value="Login" /><br />
        </div>
        <div class="col-md-9 register-right">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Student</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Instructor</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">Register as a Student</h3>
              <form action="http://localhost:3000/register/student" method="POST">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="fullname" placeholder="Full Name" value="" />
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="username" placeholder="UserName" value="" />
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" placeholder="Password" value="" />
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Your Email" value="" />
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="location" placeholder="Location" value="" />
                    </div>
                    <div class="form-group">
                      <div class="maxl">
                        <label class="radio inline">
                          <input type="radio" name="gender" value="Male" checked />
                          <span> Male </span>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="gender" value="Female" />
                          <span>Female </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="school" placeholder="School" value="" />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        minlength="11"
                        maxlength="11"
                        name="phone"
                        class="form-control"
                        placeholder="Phone (11 digit)"
                        value=""
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="grade">
                        <option class="hidden" selected disabled>Please select your grade</option>
                        <option>O Level</option>
                        <option>A Level</option>
                        <option>SSC</option>
                        <option>HSC</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="faculty">
                        <option class="hidden" selected disabled>Please select your faculty</option>
                        <option>Science</option>
                        <option>Commerce</option>
                        <option>Arts</option>
                        <option>Humanities</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        minlength="2"
                        maxlength="3"
                        name="age"
                        class="form-control"
                        placeholder="Your Age"
                        value=""
                      />
                    </div>
                    <div class="form-group">
                      <div class="maxl">
                        <label class="radio inline">
                          <input type="radio" name="version" value="EV" checked />
                          <span> English Version </span>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="version" value="BV" />
                          <span>Bangla Version </span>
                        </label>
                      </div>
                    </div>
                    <input type="submit" class="btnRegister" value="Register" />
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h3 class="register-heading">Register as an Instructor</h3>
              <form action="http://localhost:3000/register/instructor" method="POST">
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="fullname" placeholder="Full Name" value="" />
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="username" placeholder="UserName" value="" />
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" placeholder="Password" value="" />
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Your Email" value="" />
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="location" placeholder="Location" value="" />
                    </div>
                    <div class="form-group">
                      <div class="maxl">
                        <label class="radio inline">
                          <input type="radio" name="gender" value="Male" checked />
                          <span> Male </span>
                        </label>
                        <label class="radio inline">
                          <input type="radio" name="gender" value="Female" />
                          <span>Female </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="institution" placeholder="Institution" value="" />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        minlength="11"
                        maxlength="11"
                        name="phone"
                        class="form-control"
                        placeholder="Phone (11 digit)"
                        value=""
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="year">
                        <option class="hidden" selected disabled>Please select your year</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="form-control" name="department">
                        <option class="hidden" selected disabled>Please select your department</option>
                        <option>CSE</option>
                        <option>EEE</option>
                        <option>ME</option>
                        <option>CE</option>
                        <option>BME</option>
                        <option>WRE</option>
                        <option>URP</option>
                        <option>ARCH</option>
                        <option>IPE</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        minlength="2"
                        maxlength="3"
                        name="age"
                        class="form-control"
                        placeholder="Your Age"
                        value=""
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control selectpicker" id="selectedSubjects" name="selectedSubjects" multiple data-live-search="true">
                        <option>Physics</option>
                        <option>Chemistry</option>
                        <option>Math</option>
                        <option>Biology</option>
                        <option>ICT</option>
                        <option>English</option>
                        <option>Bangla</option>
                        <option>Music</option>
                        <option>Arts</option>
                      </select>
                    </div>
                    <input type="submit" class="btnRegister" value="Register" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
